<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>movie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetMovieController</display-name>
    <servlet-name>GetMovieController</servlet-name>
    <servlet-class>movieController.GetMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMovieController</servlet-name>
    <url-pattern>/GetMovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CateAddController</display-name>
    <servlet-name>CateAddController</servlet-name>
    <servlet-class>cateController.CateAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CateAddController</servlet-name>
    <url-pattern>/CateAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CateListController</display-name>
    <servlet-name>CateListController</servlet-name>
    <servlet-class>cateController.CateListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CateListController</servlet-name>
    <url-pattern>/CateListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieAddController</display-name>
    <servlet-name>MovieAddController</servlet-name>
    <servlet-class>movieController.MovieAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieAddController</servlet-name>
    <url-pattern>/MovieAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieListController1</display-name>
    <servlet-name>MovieListController1</servlet-name>
    <servlet-class>movieController.MovieListController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieListController1</servlet-name>
    <url-pattern>/MovieListController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieListController</display-name>
    <servlet-name>MovieListController</servlet-name>
    <servlet-class>movieController.MovieListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieListController</servlet-name>
    <url-pattern>/MovieListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieAddController1</display-name>
    <servlet-name>MovieAddController1</servlet-name>
    <servlet-class>movieController.MovieAddController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieAddController1</servlet-name>
    <url-pattern>/MovieAddController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieAllListController</display-name>
    <servlet-name>MovieAllListController</servlet-name>
    <servlet-class>movieController.MovieAllListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieAllListController</servlet-name>
    <url-pattern>/MovieAllListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMovieCookieController</display-name>
    <servlet-name>GetMovieCookieController</servlet-name>
    <servlet-class>movieController.GetMovieCookieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMovieCookieController</servlet-name>
    <url-pattern>/GetMovieCookieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieEditController</display-name>
    <servlet-name>MovieEditController</servlet-name>
    <servlet-class>movieController.MovieEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieEditController</servlet-name>
    <url-pattern>/MovieEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDelController</display-name>
    <servlet-name>MovieDelController</servlet-name>
    <servlet-class>movieController.MovieDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDelController</servlet-name>
    <url-pattern>/MovieDelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDelCookieController</display-name>
    <servlet-name>MovieDelCookieController</servlet-name>
    <servlet-class>movieController.MovieDelCookieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDelCookieController</servlet-name>
    <url-pattern>/MovieDelCookieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieCateListController</display-name>
    <servlet-name>MovieCateListController</servlet-name>
    <servlet-class>movieController.MovieCateListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieCateListController</servlet-name>
    <url-pattern>/MovieCateListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReviewController</display-name>
    <servlet-name>GetReviewController</servlet-name>
    <servlet-class>ReviewController.GetReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReviewController</servlet-name>
    <url-pattern>/GetReviewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReviewController</display-name>
    <servlet-name>AddReviewController</servlet-name>
    <servlet-class>Review.AddReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReviewController</servlet-name>
    <url-pattern>/AddReviewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewAllListController</display-name>
    <servlet-name>ReviewAllListController</servlet-name>
    <servlet-class>ReviewController.ReviewAllListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewAllListController</servlet-name>
    <url-pattern>/ReviewAllListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewAddController</display-name>
    <servlet-name>ReviewAddController</servlet-name>
    <servlet-class>ReviewController.ReviewAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewAddController</servlet-name>
    <url-pattern>/ReviewAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewDeleteController</display-name>
    <servlet-name>ReviewDeleteController</servlet-name>
    <servlet-class>ReviewController.ReviewDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDeleteController</servlet-name>
    <url-pattern>/ReviewDeleteController</url-pattern>
  </servlet-mapping>
</web-app>